openapi: 3.1.0
info:
  title: Nelvyon Public API v1
  version: "1.0"
  description: |
    API REST pública de Nelvyon para integraciones externas.

    **Base URL:** `https://app.nelvyon.com/api/public/v1`

    **Autenticación:** Bearer token (API key generada en /saas/api-keys)
    ```
    Authorization: Bearer nlv_<tu_api_key>
    ```

    **Rate limits:** 60 req/min por key (reinicio por ventana deslizante)
  contact:
    name: Nelvyon Support
    url: https://app.nelvyon.com

servers:
  - url: https://app.nelvyon.com/api/public/v1
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API Key generada en /saas/api-keys. Formato nlv_<hex>

  schemas:
    Contact:
      type: object
      properties:
        id:         { type: string, format: uuid }
        tenantId:   { type: string }
        name:       { type: string }
        email:      { type: string, format: email, nullable: true }
        phone:      { type: string, nullable: true }
        company:    { type: string, nullable: true }
        status:     { type: string, enum: [lead, prospect, client, inactive] }
        score:      { type: integer, nullable: true }
        createdAt:  { type: string, format: date-time }
        updatedAt:  { type: string, format: date-time }

    ContactCreate:
      type: object
      required: [name]
      properties:
        name:    { type: string }
        email:   { type: string, format: email }
        phone:   { type: string }
        company: { type: string }
        status:  { type: string, enum: [lead, prospect, client, inactive] }

    Deal:
      type: object
      properties:
        id:        { type: string, format: uuid }
        tenantId:  { type: string }
        title:     { type: string }
        value:     { type: number }
        stage:     { type: string }
        contactId: { type: string, format: uuid, nullable: true }
        closedAt:  { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    Campaign:
      type: object
      properties:
        id:        { type: string, format: uuid }
        tenantId:  { type: string }
        name:      { type: string }
        status:    { type: string, enum: [draft, scheduled, sent, cancelled] }
        sentAt:    { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    WorkflowTriggerRequest:
      type: object
      required: [workflowId]
      properties:
        workflowId: { type: string, format: uuid, description: "ID del workflow a ejecutar (debe tener trigger_type: manual)" }
        data:       { type: object, description: "Datos del trigger (contact, deal, custom fields)" }

    WorkflowRun:
      type: object
      properties:
        id:           { type: string, format: uuid }
        workflowId:   { type: string, format: uuid }
        status:       { type: string, enum: [completed, failed, running] }
        stepsExecuted:
          type: array
          items: { type: object }
        startedAt:   { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }

    Paginated:
      type: object
      properties:
        data:  { type: array, items: {} }
        total: { type: integer }
        page:  { type: integer }
        limit: { type: integer }

    Error:
      type: object
      properties:
        error: { type: string }

  responses:
    Unauthorized:
      description: API key inválida o ausente
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: La API key no tiene el scope requerido
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    RateLimited:
      description: Rate limit superado (60 req/min)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

paths:
  /contacts:
    get:
      summary: Listar contactos
      operationId: listContacts
      tags: [CRM]
      security: [{ BearerAuth: [] }]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 25, maximum: 100 }
      responses:
        "200":
          description: Lista paginada de contactos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Contact" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

    post:
      summary: Crear contacto
      operationId: createContact
      tags: [CRM]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContactCreate" }
      responses:
        "201":
          description: Contacto creado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }
        "400":
          description: Datos inválidos
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /deals:
    get:
      summary: Listar deals
      operationId: listDeals
      tags: [Pipeline]
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 25, maximum: 100 }
      responses:
        "200":
          description: Lista paginada de deals
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Paginated"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Deal" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /campaigns:
    get:
      summary: Listar campañas de email
      operationId: listCampaigns
      tags: [Email]
      responses:
        "200":
          description: Lista de campañas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Campaign" }
                  total: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /workflows/trigger:
    post:
      summary: Ejecutar workflow manualmente
      operationId: triggerWorkflow
      tags: [Workflows]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WorkflowTriggerRequest" }
      responses:
        "201":
          description: Workflow ejecutado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WorkflowRun" }
        "400":
          description: workflowId requerido o workflow no encontrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
